{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "importOrder": ["^(\\.)+(\\/)+"],
  "importOrderSeparation": true,
  "endOfLine": "auto"
}
