{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "importOrder": ["^(\\.)+(\\/)+"],
  "importOrderSeparation": true
}
