when: << pipeline.parameters.run_dev_delivery >>
jobs:
  - check
  - bump_version:
      delivery: development
  - build_android:
      requires:
        - check
        - bump_version
  - build_ios:
      requires:
        - check
        - bump_version
  - deliver_browser_stack:
      requires:
        - build_android
        - build_ios
  - deliver_android:
      production_delivery: false
      requires:
        - build_android
  - deliver_ios:
      production_delivery: false
      requires:
        - build_ios
  - move_release_notes
