macos:
  xcode: 26.2.0
resource_class: m4pro.medium
environment:
  FL_OUTPUT_DIR: output
  FASTLANE_SKIP_UPDATE_CHECK: true
  TOTAL_CPUS: 6 # For mac with resource_class macos.m1.medium.gen1, used in metro.config.ci.js.
shell: /bin/bash --login -o pipefail
steps:
  - add_ssh_keys: # Needed for credentials repo
      fingerprints:
        - 24:1d:3b:b7:b3:49:69:d7:54:c3:93:a5:a2:d1:71:db
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: ios
  - restore_cocoa_pods_cache
  - run:
      name: Build iOS
      command: bundle exec fastlane build version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: ios
  - run:
      name: Prepare Sourcemaps
      command: |
        mkdir -p sourcemaps/
        cp ios/output/app-release.ios.bundle* sourcemaps/
  - persist_to_workspace:
      root: .
      paths:
        - sourcemaps/*
  - store_artifacts:
      path: ios/output/gym/app-release.ipa
  - persist_to_workspace:
      root: ios/output/gym
      paths:
        - app-release.ipa
  - run:
      name: Persist artifact url
      command: echo "[lunes.ipa](https://output.circle-artifacts.com/output/job/$CIRCLE_WORKFLOW_JOB_ID/artifacts/0/ios/output/gym/app-release.ipa)" >> lunes-ipa-url
  - persist_to_workspace:
      root: .
      paths:
        - lunes-ipa-url
  - notify
