docker:
  - image: circleci/android:api-29-node
resource_class: medium+
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash -eo pipefail
steps:
  - add_ssh_keys: # Needed for credentials repo
      fingerprints:
        - 24:1d:3b:b7:b3:49:69:d7:54:c3:93:a5:a2:d1:71:db
  - checkout
  - restore_ruby_cache:
      directory: android
  - restore_yarn_cache
  - prepare_workspace
  - restore_environment_variables
  - run:
      name: '[FL] Prepare Android Keystore'
      command: bundle exec fastlane keystore
      working_directory: android
  - run:
      name: '[FL] Build Android'
      command: bundle exec fastlane build version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: android
  - run:
      name: Prepare Sourcemaps
      command: |
        mkdir -p sourcemaps/
        cp android/app/build/generated/sourcemaps/react/release/index.android.bundle.map sourcemaps/
        cp android/app/build/generated/assets/react/release/index.android.bundle sourcemaps/
  - persist_to_workspace:
      root: .
      paths:
        - sourcemaps/*
  - run:
      name: Move apk
      command: mkdir -p attached_workspace && mv app/build/outputs/apk/release/app-release.apk attached_workspace/app-release.apk
      working_directory: android
  - persist_to_workspace:
      root: android/attached_workspace
      paths:
        - app-release.apk
  - store_artifacts:
      path: android/attached_workspace/app-release.apk
