docker:
  - image: cimg/node:14.19.0
steps:
  - checkout
  - restore_yarn_cache
  - restore_yarn_tools_cache
  - check_config
  - run:
      name: Linting check
      command: yarn lint
  - run:
      name: TS check
      command: yarn ts:check
  - run:
      name: Prettier check
      command: yarn prettier --check .
  - run:
      name: Run unit tests
      command: yarn test
  - notify
