docker:
  - image: circleci/node:12.16.3
steps:
  - checkout
  - check_config
  - restore_yarn_cache
  - run:
      name: Linting check
      command: yarn lint
  - run:
      name: Prettier check
      command: yarn prettier --check .
  - run:
      name: Run unit tests
      command: yarn test
