# Deliver the app to Testflight
# TODO add Apple App Store delivery with parameter
parameters:
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
    default: false
macos:
  xcode: 12.5.1
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - restore_ruby_cache:
      directory: ios
  - run:
      name: Parse german ios release notes
      command: tools/parse-release-notes parse --ios --destination ios/fastlane/metadata/de-DE/release_notes.txt --production
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] App Store Connect Upload'
            command: bundle exec fastlane ios upload_to_appstoreconnect ipa_path:attached_workspace/app-release.ipa version_name:${NEW_VERSION_NAME}
            working_directory: ios
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] TestFlight Upload'
            command: bundle exec fastlane upload_to_test_flight ipa_path:attached_workspace/app-release.ipa
            working_directory: ios
  - run:
      name: Sentry Upload
      command: tools/sentry-release.sh "app.lunes" "${NEW_VERSION_NAME}" ~/attached_workspace/sourcemaps/ --version-code "${NEW_VERSION_CODE}"
