docker:
  - image: cimg/android:2024.08.1-node
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - prepare_workspace
  - restore_yarn_cache
  - restore_yarn_tools_cache
  - restore_ruby_cache:
      directory: android
  - run:
      name: Calculate PR number
      command: echo "export PR_NUMBER=$(echo $CIRCLE_PULL_REQUEST | awk -F'/' '{print $NF}')" >> $BASH_ENV
  - run:
      name: Rename apk
      command: mv ~/attached_workspace/app-release.apk ~/attached_workspace/${CIRCLE_BRANCH////-}.apk
  - run:
      name: Rename ipa
      command: mv ~/attached_workspace/app-release.ipa ~/attached_workspace/${CIRCLE_BRANCH////-}.ipa
  - run:
      name: 'BrowserStack Upload android'
      command: bundle exec fastlane android upload_to_browserstack file_path:attached_workspace/${CIRCLE_BRANCH////-}.apk
      working_directory: android
  - restore_ruby_cache:
      directory: ios
  - run:
      name: 'BrowserStack Upload iOS'
      command: bundle exec fastlane ios upload_to_browserstack file_path:attached_workspace/${CIRCLE_BRANCH////-}.ipa
      working_directory: ios
  - run:
      name: Undo rename apk
      command: mv ~/attached_workspace/${CIRCLE_BRANCH////-}.apk ~/attached_workspace/app-release.apk
  - run:
      name: Undo rename ipa
      command: mv ~/attached_workspace/${CIRCLE_BRANCH////-}.ipa ~/attached_workspace/app-release.ipa
  - run:
      name: Build message
      command: |
        printf "## App uploaded to Browserstack\n" >> message 
        printf "This pull request can now be tested online:\n" >> message
        printf -- "- [Android](%s)\n" "$(cat android/fastlane/browserstack_live_url)" >> message
        printf -- "- [iOS](%s)\n" "$(cat ios/fastlane/browserstack_live_url)" >> message
  - run:
      name: Post pull request comment with a link to the browserstack live apps
      command: yarn app-toolbelt v0 notify github-pr ${PR_NUMBER} "$(cat ../message)" --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
      working_directory: tools
  - notify
