docker:
  - image: cimg/android:2022.03.1-node
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - prepare_workspace
  - restore_ruby_cache:
      directory: android
  - run:
      name: Rename apk
      command: mv ~/attached_workspace/app-release.apk ~/attached_workspace/${CIRCLE_BRANCH////-}.apk
  - run:
      name: Rename ipa
      command: mv ~/attached_workspace/app-release.ipa ~/attached_workspace/${CIRCLE_BRANCH////-}.ipa
  - run:
      name: 'BrowserStack Upload android'
      command: bundle exec fastlane android upload_to_browserstack file_path:attached_workspace/${CIRCLE_BRANCH////-}.apk
      working_directory: android
  - restore_ruby_cache:
      directory: ios
  - run:
      name: 'BrowserStack Upload iOS'
      command: bundle exec fastlane ios upload_to_browserstack file_path:attached_workspace/${CIRCLE_BRANCH////-}.ipa
      working_directory: ios
  - run:
      name: Undo rename apk
      command: mv ~/attached_workspace/${CIRCLE_BRANCH////-}.apk ~/attached_workspace/app-release.apk
  - run:
      name: Undo raname ipa
      command: mv ~/attached_workspace/${CIRCLE_BRANCH////-}.ipa ~/attached_workspace/app-release.ipa
  - notify
